[Desktop Entry]
Name=QEMU Manager
Comment=Graphical QEMU virtual machine manager
Exec=qemu-manager
Icon=qemu-manager
Terminal=false
Type=Application
Categories=System;Emulator;
