[Desktop Entry]
Name=QEMU Manager
Comment=Manage QEMU virtual machines
Exec=qemu-manager
Icon=qemu-manager
Terminal=false
Type=Application
Categories=System;Emulator;Virtualization;
